.AtomicSpeedCardWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 30px;
    animation: move 10s linear infinite;
    background: #EAB70000;
    box-shadow: 0px 0px 300px 0px #eab70000;
    transition: all 0.3s;
}

.AtomicSpeedCardWrapperActive {
    background: #EAB700;
    background: linear-gradient(90deg, #EA7E00 0%, #EAB700 67.01%, #FFC786 100%);
    background: linear-gradient(20deg, #EA7E00, #EAB700 43%, #FFC786);
    /* Gold glow */
    box-shadow: 0px 0px 300px 0px #eab70087;
    animation: move 5s linear infinite;
}

.AtomicSpeedCardWrapperTitle {
    font-weight: 600;
    color: black;
    margin-bottom: 8px;
    font-size: 23px;
}


/* animate box-shadow */

/* @keyframes move {
    0% {
        box-shadow: 0px 0px 300px 0px #eab70000;
    }

    50% {
        box-shadow: 0px 0px 300px 0px #eab70087;
    }

    100% {
        box-shadow: 0px 0px 300px 0px #eab70000;
    }
} */