.SidebarPanel {
    margin: 16px 16px;
    display: flex;
    width: calc(100vw - 32px);
    max-width: 390px;
    flex-direction: column;
    overflow: auto;
    border-radius: var(--border-radius);
    background-color: #111;
    height: calc(100vh - 64px - 16px);
    top: 0;
    right: 0;
    z-index: 100;
    padding: 24px;
    gap: 16px;
    position: relative;
}