.StakeSwitch {
  display: flex;
  align-items: center;
  min-height: 52px;
  border-radius: 8px;
  background-color: #181818;
  cursor: pointer;
  position: relative;
  padding: 0px 8px;
}

.StakeSwitchButton {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.4s cubic-bezier(0.615, -0.265, 0.280, 1.250);
  min-height: 52px;
}

.StakeSwitchButtonActive {
  color: var(--color-text-primary)
}

.StakeSwitchIndicator {
  position: absolute;
  background-color: #F7F7F81A;
  max-width: 176px;
  width: 50%;
  height: 52px;
  border-radius: 8px 0px 0px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
  transition: all 0.15s linear;
}

.StakeSwitchIndicatorRight {
  border-radius: 0px 8px 8px 0px;
}


.ApyBadge {
  background-color: #00EABB;
  padding-left: 6.5px;
  padding-right: 6.5px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #000000;
  color: #000000;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}