.SwapInput {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-bg-graph);
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.SwapInputLabelContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 8px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.SwapInputLabel {
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    color: var(--color-text-secondary);
    width: 100%;
}

.SwapInputLabelEnd {
    /* width: 100%; */
    /* display: flex; */
    /* justify-content: flex-end; */
}

.SwapInputInputWrapper {
    width: 100%;
    display: flex;
    border-radius: 8px;
    box-sizing: border-box;
    height: 56px;
    align-items: center;
    transition: all 0.2s;
}

.SwapInputInputWrapperTop {
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 0;
}

.SwapInputInputWrapperBottom {
    border-radius: 0px 0px 0px 0px;
}

.SwapInputInputWrapperDisabled {
    background-color: var(--color-bg-graph);
    border: 0px solid red;
}

.SwapInput:focus-within {
    border: 1px solid #F7F7F8;
}

.SwapInputDisabled:focus-within {
    border: 1px solid #18181800;
}

.SwapInputInput {
    width: 100%;
    background-color: transparent;
    border: none;
    height: 24px;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    padding: 0;
    padding-top: 6px;

    text-align: right;
    color: var(--color-text-primary);
    outline: none;
    text-align: left;
}

.SwapInputInput:disabled {
    color: var(--color-text-secondary);
}

.SwapInputCurrencyButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 32px;
    padding-left: 4px;
    padding-right: 8px;
    border-radius: 40px;
    background-color: #2A2A2A;
    border: none;
    color: var(--color-text-primary);
    cursor: pointer;
}

.SwapInputCurrencyButton:hover {
    background-color: #4e4e4e;
}

.SwapInputCurrencyButton:disabled {
    background-color: #2A2A2A;
    color: var(--color-text-secondary);
    cursor: default;
}

.SwapInputCurrencyButton:disabled .InputSelectorArrow {
    display: none;
}

.SwapInputCryptoLabelImg {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}




.SwapInputError {
    gap: 8px;
    color: var(--color-text-error);
    /* overflow: hidden; */
    opacity: 0;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
}

.SwapInputErrorVisible {
    height: 16px;
    opacity: 1;
}


.SwapInputInputWrapperError {
    background-color: var(--color-bg-error);
    position: relative;
}

.SwapInputUsdt {
    font-family: Poppins;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.15000000596046448px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--color-text-secondary);

}