.CardSection {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
}

.Card {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  background-color: #041426;
  color: white;
  border: 1px solid #F7F7F80D;
}

@media (max-width: 640px) {
  .CardSection {
    padding: 16px;
  }
}