.InstantUnstakeSwitchOption {
  height: 63px;
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.InstantUnstakeSwitchOptionActive>.OptionLabel {
  color: var(--color-secondary-btn-text);
}

.InstantUnstakeSwitchOptionActive>.OptionSubLabel {
  color: #B7B7B7
}

.OptionLabel {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: var(--color-text-secondary);
  /* height: 63px; */
}

.OptionSubLabel,
.OptionCryptoLabel {
  font-size: 10px;
  font-weight: 600;
  color: var(--color-text-secondary);
  line-height: 9.5px;
  text-align: left;
  margin-bottom: 12px;
}