.Page {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 95%;
  margin: auto;
  margin-top: 64px;
}

.PageContainer {
  max-width: 400px;
  width: 400px;
}

.SelectorContainer{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 12px;
  margin-bottom: 24px;
}

@media screen and (max-width: 640px) {
  .Page {
    margin-top: 0px;
  }
  .SelectorContainer {
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
}
