.IconButton {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-text-secondary);
    background: none;
    border: none;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.IconButton:disabled {
    color: var(--color-text-secondary);
    cursor: default;
}