.TokenSelectorModalSubtitle {
    color: var(--color-text-secondary);
    font-size: 9px;
    height: 40px;
    display: flex;
    align-items: center;
}

.TokenSelectorModalSubtitle img {
    margin-right: 4px;
}

.TokenSelectorModalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-background-border);
    width: 100%;
}

.TokenSelectorModalHeaderText {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid var(--color-background-border);
    border-radius: var(--border-radius-half);
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}