.TokenSelectorModalSubtitle {
    color: var(--color-text-secondary);
    font-size: 9px;
    height: 40px;
    display: flex;
    align-items: center;
}

.TokenSelectorModalSubtitle img {
    margin-right: 4px;
}

.TokenSelectorModalItemName {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-text-primary);
    height: 18px;
}

.TokenSelectorModalItemSymbol {
    height: 18px;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-text-secondary);
}

.TokenSelectorModalItemColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.TokenSelectorModalItem {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid var(--color-background-border);
    border-radius: var(--border-radius-half);
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}

.TokenSelectorModalItem:hover {
    background-color: var(--button-flat-default-bg-hover);
    cursor: pointer;
}

.TokenSelectorModalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-background-border);
    width: 100%;
}

.TokenSelectorModalItem img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}